<div class="post card">
    <div class="card-header">
        <h2>Edit Post</h2>
    </div>
    <form id="edit-post-form" class="card-body">
        <input type="hidden" id="post-id" value="{{post.id}}" />
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="post-title" value="{{post.title}}" class="form-input">
        <label for="post-body" class="form-label">Content</label>
        <textarea id="post-body" class="form-input" >{{post.body}}</textarea>
        <button type="submit" class="btn">Update</button>
        <button type="button" id="delete-btn" class="btn">Delete</button>
    </form>
</div>