<div class="post card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login" class="form-label">Username</label>
      <input type="text" id="username-input-login" class="form-input" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" class="form-input" />
    </div>
    <button type="submit" class="btn" id="login-btn">Login</button>
    <a type="button" class="btn" href="/signup">Sign Up Here</a>
  </form>
</div>
<script src="/javaScript/login.js"></script>