<div class="post card">
  <div class="card-header">
    <h2>SignUp</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="username-input-signup" class="form-label">Username</label>
        <input type="text" id="username-input-signup" class="form-input" />
      </div>
      <div>
        <label for="password-input-signup" class="form-label">Password</label>
        <input type="password" id="password-input-signup" class="form-input" />
      </div>

      <button type="submit" class="btn" id="signup-btn">Sign Up</button>
      <a type="button" class="btn" href="/login">Login Here</a>
    </form>
  </div>
</div>
<script src="/javaScript/signup.js"></script>